{% extends "otree/BaseAdmin.html" %}
{% load staticfiles  %}
{% block title %}
list of mTurk HITs
{% endblock %}

{% block content %}


{% if balance %}
<div class="alert alert-success">Your balance: <b>{{balance}}</b></div>{%endif%}
{% if hits %}
<table class="table">
    {% for hit in hits %}
    <tr>
        <td><a href="{% url 'assignments_list' hit.HITId %} ">{{hit.HITId}}</a></td>
        <td>
            {{hit.Title|truncatechars:50}}
        </td>
        <td>{{hit.HITStatus}}</td>
        <!--<td>{{hit.Expiration}}</td>-->
        <td>{% include 'otree_export_utils/includes/hit-btn-group.html' with cur_hit=hit %}</td>
    </tr>
    {% endfor %}
</table>
{%endif%}
{% endblock %}

{% block internal_styles %}
{{ block.super }}
table td {
vertical-align: middle !important;
}
td div.btn-group {
vertical-align: middle !important;
}
{% endblock %}

