{% extends "otree/BaseAdmin.html" %}
{% load staticfiles  %}
{% block title %}
Update expiration date
{% endblock %}

{% block content %}
<form method="post">
    {{ form.media }}
    {% csrf_token %}
    {{ form.as_p }}
    <a href="
    {% if view.back_to_HIT %}
    {% url 'assignments_list' view.HITId %}
    {% else %}
    {% url 'hits_list' %}
    {% endif %}
" class="btn btn-default btn-lg active" role="button">Cancel</a>
    <button type="submit" class="btn btn-success btn-lg active">Update</button>
</form>
{% endblock %}

{% block internal_styles %}
{{ block.super }}

{% endblock %}
